*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
body{
    background-color: #ddd;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.wholeCard{
    width: 90%;
    max-width: 800px;
    background-image: linear-gradient(to right, #00c6ff, #00ff0d,#213 );
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    align-items: center;
    text-align: center;
}
.search input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}
.search button{
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    border-radius: 10px;
}
#weatherIcon{
    width: 100px;
    height: 100px;
   
}
h1{
    font-size: 8vw;
    color: #fff;
}
h2{
    font-size: 3vw;
    color:#222;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fHdlYXRoZXJ8ZW58MHx8fHwxNjg5NTY1MjQ3&ixlib=rb-4.0.3&q=80&w=1080');
    border-radius: 10px;
    margin-top: 20px;
}
.col{
    width: 45%;
    font: bold 2vw 'Arial', sans-serif;
    color: #fff;
}
.city{
    text-transform: capitalize;
}